@import "../../../styles/var.less";
@import "../../../styles/mixin.less";

.terminalcase-page {
	position: fixed;
  top:0;
	bottom: 0;
	left: 0;
	width: 100%;

	background: rgba(0,0,0,0.4);
	z-index: 9100;
	transition: transform 0.3s ease, background 0.3s ease 0.2s;
}