@import "../../../styles/var.less";
@import "../../../styles/mixin.less";

.terminal-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
  color:black;

  li {
    width: 90%;
    height:9rem;
    margin: 1rem;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #d7d7d7;
    background: #fff;
    text-align: center;
    overflow:hidden;



    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }


    a {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      color: #6f6f6f;

      .name{
        float:left;
        padding:1rem;

        img{
          width:5rem;
          height:5rem;
        }

        p{
          margin:0;
          padding:0;
        }
      }

      .state{
        float:right;
        padding:1rem;
        height:100%;

        .border-on{
          width:1.5rem;
          height:1.5rem;
          border: 1px solid #d7d7d7;
          border-radius:50%;
          padding:0;
          margin:0;
          background-color: darken(rgb(66, 253, 47), 20%);
        }

        .border-off{
          width:1.5rem;
          height:1.5rem;
          border: 1px solid #d7d7d7;
          border-radius:50%;
          padding:0;
          margin:0rem;
          background-color:red;
        }
      }
    }


    .light {
    display:inline-block;
    text-decoration: none;
    margin:2rem 0;
    }
  }
}