@import "../../../styles/var.less";
@import "../../../styles/mixin.less";

.terminal-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
  color:black;

  li {
    width: 90%;
    height:9rem;
    margin: 1rem;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #d7d7d7;
    background: #fff;
    text-align: center;
    overflow:hidden;



    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }


    a {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 100%;
      padding: 0 1.4rem;
      box-sizing: border-box;
      color: #6f6f6f;
      text-decoration: none;

      .name{
        width: 7rem;
        text-align: center;
        img{
          display: inline-block;
          width:5rem;
          height:5rem;
          border-radius: 4px;
        }

        p{
          margin:0;
          padding:0;
        }
      }

      .state{

        text-align: center;

        .border-on, .border-off{
          display: inline-block;
          width:1.5rem;
          height:1.5rem;
          border: 1px solid #d7d7d7;
          border-radius:50%;
          padding:0;
          margin:0;
        }

        .border-on {
          background-color: darken(rgb(66, 253, 47), 20%);
        }

        .border-off{
          background-color:red;
        }

        .online, .offline{
          margin: 0;
          padding: 0;
        }

      }
    }
  }
}