@import "../../../styles/var";
@import "../../../styles/mixin";

.home-index-page {
  position: relative;
  height: 100%;
  text-align: center;

  @size: 10rem;
  .btn-sign {
    display: inline-block;
    width: @size;
    height: @size;
    margin-top: 40%;
    font-size: 1.4rem;
  }

  .btn-add-terminal {
    display: inline-block;
    width: 40%;
    margin-top: 2rem;
  }

}