@import "../../../styles/var";
@import "../../../styles/mixin";

.home-index-page {
  position: absolute;
  top: 0;
  bottom: 4rem;
  left: 0;
  width: 100%;
  background: #fff;
  text-align: center;

  @size: 10rem;
  .btn-sign {
    display: inline-block;
    width: @size;
    height: @size;
    margin-top: 20vh;
    font-size: 1.4rem;
  }

  .btn-add-terminal {
    display: inline-block;
    width: 40%;
    margin-top: 2rem;
  }

}