@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #666;
  font-size: 1.0rem;
  font-family: 'Roboto', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#main {
  padding: 0 0 4rem 0;
}